{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section id="login-wrap">
  <div class="container">
    <h1 class="section-heading-wrap">Login</h1>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <div class="main-tab-bar">
          <div class="tab-bar1">
            <a class="tab-bar2 active" href="{{ url_for('users.login') }}"
              >Login</a
            >
          </div>
          <div class="tab-bar1">
            <a class="tab-bar2-1" href="reset-pw.html"> Reset Password</a>
          </div>
          <div class="tab-bar1">
            <a class="tab-bar2-2" href="{{ url_for('users.register') }}">
              Register Account
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="webshop-desc">
          <p style="font-weight: 600">
            Welcome to our new webshop. You can still use your old
            account. Just remember to reset your password when you login
            for the first time.
          </p>
          <p></p>

          <p style="font-weight: 600">
            Click on "Forgot your password?" to reset or
          </p>
          <p style="font-weight: 600">
            Contact websupport:info@TasteTales.com
          </p>

          {% from "_formhelpers.html" import render_field %}
          <form method="post" action="{{ url_for('users.login') }}">
            {{ form.csrf_token }}
            <dl class="login-form">
              {{ render_field(form.email) }}
              <br />
              {{ render_field(form.password) }}
              <!-- <div class="input-title">
                Your Username or Email address
              </div>
              <input
                type="text"
                name="name"
                placeholder="Username or Email"
              />

              <div class="input-title">Your Password</div>
              <input
                type="password"
                name="password"
                placeholder="Password"
              /> -->

              <div class="row">
                <div class="col-6 col-md-6">
                  <div>
                    <input type="checkbox" name="input-checkbox" />
                    <span>Remember Me</span>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div style="text-align: right">
                    <!-- <button class="btn-login">Login</button> -->
                    <input
                      type="submit"
                      value="Login"
                      class="btn-login"
                    />
                  </div>
                </div>
              </div>

              <div class="forget-link-main">
                <a class="forget-link" href="#">Forget your password?</a>
              </div>
            </dl>
          </form>
        </div>
      </div>
      <div class="col-md-4 my-auto">
        <div class="become-customer">
          <h3 class="customer-section-heading">Become a customer</h3>
          <ul>
            <li class="customer-list">A world of duty free shopping</li>
            <li class="customer-list">Excellent customer service</li>
            <li class="customer-list">
              Reliable transport to your destination
            </li>
          </ul>
          <div class="btn-customer">
            <a
              class="btn-bcom-customer"
              href="{{ url_for('users.register') }}"
              >Become a Customer</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
