<!-- recommendation.html -->
<!DOCTYPE html>
<html lang="en">









    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        



	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.min.css') }}">
    
    
    
    
    
      
        
      </head>
        <body>
           
            <div id="app">
                <header>
                    <div id="logo-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <a class="navbar-brand" href="#">
                                        <img src="static/img/logo-removebg-preview.png" width="160"/>
                                    </a>
                                </div>
                                <div class="col-md-4 my-auto text-right">
                                    <div class="header-right ml-auto">
                                        <form id="search-form">
                                            <div class="search-box">
                                                <input type="text" name="" class="search-input" placeholder="Search...."/> 
                                                <button class="search-btn"><i class="fa fa-search"></i></button>
                                            </div>						        
                                        </form>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown" data-toggle="dropdown">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="login.html">Sign in</a>
                                              <a class="dropdown-item" href="register.html">Register</a>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
    
    
    
    
    
                        <div id="main-menu">
                        <div class="container">
    
                            <nav class="navbar navbar-toggleable-md navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa fa-bars"></i>
                                </button>			
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
                                    <ul class="navbar-nav mx-auto">
    
    
                                        <li class="nav-item">
                                            <div class="dropdown header">
    
                                                <a class="nav-link" href="index.html">Home</a>
                                                  
                                            </div>										
                                        </li>
                                        <li class="nav-item">
                                            <div class="dropdown header">
                                                <a class="nav-link" href="contact.html">Contact Us</a>
                                                  
                                            </div>										
                                        </li>
    
                                        <li class="nav-item">
                                            <div class="dropdown header">
                                                <a class="nav-link" href="#">Drinks</a>
                                                  <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="softdrinks.html">Soft Drinks</a>
    
    
    
                                                    <!-- <button onclick="performAgeDetection()">Go to Hard Drinks</button>  -->
                                                    <!-- <a class="dropdown-item" href="harddrinks.html">Hard Drinks</a> -->
                                                    <!-- <a class="dropdown-item" href="#" onclick="redirectToHardDrinks()">Hard Drinks</a> -->
    
                                                    <!-- <a class="dropdown-item" id="hardDrinksButton" onclick="triggerAgeDetection()"href="harddrinks">Hard Drinks</a>
    
                                                    <video id="webcam-stream" width="640" height="480" autoplay></video>
                                                     -->
                                                    
                                                    <!-- Your index page content -->
                                                    <a href="{{ url_for('permission') }}" class="dropdown-item">Hard Drinks</a>
    
                                                  </div>
                                            </div>										
                                        </li>
    
    
                                        <li class="nav-item">
                                            <div class="dropdown header">
                                                <a class="nav-link" href="{{ url_for('recommendation') }}">Search</a>
                                                
                                                  
                                            </div>										
                                        </li>
    
    
    
                                            </div>										
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                
                </header>




                
                    <h1 text-align:center>Product Recommendations</h1>
                
                    <label for="name">Enter Product Name:</label>
                    <input type="text" id="name" placeholder="Type a product name...">
                    <button onclick="getNameRecommendations()">Get Name Recommendations</button>
                    <br>
                
                    <label for="brand">Enter Brand:</label>
                    <input type="text" id="brand" placeholder="Type a brand...">
                    <button onclick="getBrandRecommendations()">Get Brand Recommendations</button>
                    <br>
                
                    <label for="price">Enter Price:</label>
                    <input type="number" id="price" placeholder="Enter a price...">
                    <button onclick="getPriceRecommendations()">Get Price Recommendations</button>
                    <br>
                
                    <div id="name-recommendations"></div>
                    <div id="brand-recommendations"></div>
                    <div id="price-recommendations"></div>

                    <footer>
                        <div class="container">
                            <div id="footer-top">
                                <div class="row">
                                    <div class="col-md-4 first">
                                        <h4>Contact Details</h4>
                                        <hr style="margin: 10px 0; border-top: 3px solid #009a46; width: 80px;">
                                        <div><i class="fa fa-map-marker-alt"></i>Kathmandu, Nepal</div>
                                        <div><i class="fa fa-phone"></i> +9779812345678/ +9779801234567</div>
                                        <div><i class="fa fa-envelope"></i><a href="mailto:info@greeline.com">info@TasteTales.com</a></div>
                                    </div>
                                    <div class="col-md-4 second">
                                        <h4>Quick Links</h4>
                                        <hr style="margin: 10px 0; border-top: 3px solid #009a46; width: 80px;">
                                        <p><a href="{{ url_for('home') }}">Home</a></p>
                                        <p><a href="{{ url_for('about') }}">About Us</a></p>
                                        <p><a href="{{ url_for('contact') }}">Contact Us</a></p>
        
                                    </div>
                                    <div class="col-md-4 third">
                                        <h4>Useful Links</h4>
                                        <hr style="margin: 10px 0; border-top: 3px solid #009a46; width: 80px;">
                                        <div class="social">
                                            <p><a href="#">Offers</a></p>
                                            <p><a href="#">Terms & Conditions</a></p>
                                            <p><a href="#">Return Policy</a></p>
                                            <p><a href="#">Privacy Policy</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="footer-bottom">
                            <div class="container">
                                <div class="footer-social-section">
                                    <div class="footer-social">
                                        <div class="footer-social-text">
                                            Find us on Social Media
                                        </div>
                                        <div class="footer-social-icons">
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>	
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="payments-footer">
                                            <img src="static/img/payment.png"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="copyright">© 2023 Taste Tales Pvt. Ltd. All Rights Reserved.
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </footer>
                
                </div>
                
                <a id="back-to-top" href="#" class="btn back-to-top" role="button"><i class="fa fa-chevron-up"></i></a>	
                
                
                
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
        
        
        
        
                <script>
                    $(document).ready(function(){
                        $(window).scroll(function () {
                        if ($(this).scrollTop() > 50) {
                            $('#back-to-top').fadeIn();
                        } else {
                            $('#back-to-top').fadeOut();
                        }
                    });
                    // scroll body to 0px on click
                    $('#back-to-top').click(function () {
                        $('body,html').animate({
                            scrollTop: 0
                        }, 400);
                        return false;
                    });
                    });
                </script>
                
                <script>
                    $('#home-slide').owlCarousel({
                        loop:true,
                        autoplay:true,
                        autoplayTimeout:3000,
                        autoplayHoverPause:true,
                        nav:true,
                        navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:1
                            },
                            1000:{
                                items:1
                            }
                        }
                    })
                
                    $('#recent-slide').owlCarousel({
                        nav:true,
                        margin:15,
                        slideBy:'page',
                        navText : ["<i class='fa fa-arrow-circle-left'></i>","<i class='fa fa-arrow-circle-right'></i>"],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            1000:{
                                items:4
                            }
                        }
                    })
        
                    $('#testimonialSlider').owlCarousel({
                        nav:true,
                        dots:false,
                        margin:15,
                        slideBy:'page',
                        navText : ["<i class='fa fa-arrow-circle-left'></i>","<i class='fa fa-arrow-circle-right'></i>"],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            1000:{
                                items:3
                            }
                        }
                    })
                </script>
        
                
                    <script>
                        function getNameRecommendations() {
                            console.log("Function called");
                            const productName = document.getElementById('name').value;
                            fetch('/get_name_recommendations', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ name: productName }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                const recommendationsDiv = document.getElementById('name-recommendations');
                                recommendationsDiv.innerHTML = '<h3>Name Recommendations:</h3>';
                                data.forEach(product => {
                                    recommendationsDiv.innerHTML += `<p>${product}</p>`;
                                });
                            });
                        }
                
                        function getBrandRecommendations() {
                            console.log("Function called");
                            const brandName = document.getElementById('brand').value;
                            fetch('/get_brand_recommendations', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ brand: brandName }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                const recommendationsDiv = document.getElementById('brand-recommendations');
                                recommendationsDiv.innerHTML = '<h3>Brand Recommendations:</h3>';
                                data.forEach(product => {
                                    recommendationsDiv.innerHTML += `<p>${product}</p>`;
                                });
                            });
                        }
                
                       
                       
    function getPriceRecommendations() {
        const priceValue = document.getElementById('price').value;
        fetch('/get_price_recommendations', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ price: priceValue }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            const recommendationsDiv = document.getElementById('price-recommendations');
            recommendationsDiv.innerHTML = '<h3>Price Recommendations:</h3>';
            data.forEach(product => {
                recommendationsDiv.innerHTML += `<p>${product}</p>`;
            });
        })
        .catch(error => {
            console.error('Error fetching price recommendations:', error);
        });
    }

                    </script>
                
                

    
                <!-- <script src="{{ url_for('static', filename='js/recommendation.js') }}"></script> -->
                <!-- <script src="{{ url_for('static', filename='C:\project\age-integrate-pachiko-tastetales\static\js\recommendation.js') }}"></script> -->
</body>
</html>
